.lowerDiv {
    width: 77%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.1rem solid rgb(180, 180, 180);
    /* background-color: yellow; */
}

.lowerDiv .posts {
    min-width: 70%;
    max-width: 100%;
    /* padding: 0 1rem; */
    /* margin: 0 auto; */
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: flex-start;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* background-color: orange; */
}

.lowerDiv .posts .post {
    width: 23vw;
    height: 20vw;
    display: flex;
    margin: 1rem 2rem;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    border: 0.05rem solid rgb(214, 214, 214);
    border-radius: 0.3rem;
    cursor: pointer;
    /* background-color: greenyellow; */
}

.lowerDiv .posts .post:hover {
    opacity: 0.8;
}

.lowerDiv .posts .post img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}

.lowerDiv .emptyPost {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lowerDiv .noposts {
    width: auto;
    margin: auto;
    margin-top: 1rem;
    color: grey;
}