.navbar {
    position: sticky;
    top: 2.2%;
    width: 25vw;
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    z-index: 10000;
    background-color: #c8e6fe;
}

.links {
    padding: 0 0.1rem;
    color: grey !important;
}

.links:hover, .links.active {
    background-color: #022f95;
    color: aqua !important;
}