.backdrop {
    min-height: 117vh;
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.774);
    overflow: hidden;
}

/* ::-webkit-scrollbar {
    display: none;
} */

.modal {
    position: absolute;
    top: 13%;
    left: 25%;
    width: 50vw;
    height: 75vh;
    padding: 1.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    border: none;
    border-radius: 0.8rem;
    background-color: #159e79;
}

.modal .imagePreview {
    margin: 2rem 0;
    position: relative;
    height: 16vw;
    width: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem dashed #132340;
    border-radius: 0.7rem;
}

.modal input {
    display: none;
}

.addIcon {
    color: white;
    font-weight: bolder;
    font-size: 4rem !important;
    cursor: pointer;
}

.image {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.7rem;
}

.deletebtn {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.uploadbtn, .cancelbtn {
    width: 16vw;
    outline: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.7rem;
    background-color: #132340;
    cursor: pointer;
}

.uploadbtn {
    margin-bottom: 1rem;
}

.uploadbtn:hover, .cancelbtn:hover {
    background-color: #062867;
}