.following {
    margin-top: 2rem;
    /* height: 100%; */
    width: 90%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.following .head {
    color: grey;
    margin-bottom: 1rem;
}

.following .fuser {
    padding: 0.5rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #c8e6fe;
}

.following .fuser .first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.following .fuser .first img {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.2rem solid #022f95;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.following .fuser .first h4 {
    color: black;
    cursor: pointer;
}

.following .fuser .first h4:hover {
    text-decoration: underline;
}

.following .fuser button {
    padding: 0.4rem 0.7rem;
    font-size: 1.1rem;
    color: #022f95;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    /* background-color: #022f95; */
    background-color: white;
}

.following .fuser button:hover {
    color: white;
    background-color: #003ac1;
}

.noUser {
    color: black;
}