.main {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 0.2rem solid rgb(193, 193, 193);
    border-right: 0.2rem solid rgb(193, 193, 193);
}